@font-face {
  font-family: "iconfont"; /* Project id 4332351 */
  src: url('iconfont.woff2?t=1700057776846') format('woff2'),
       url('iconfont.woff?t=1700057776846') format('woff'),
       url('iconfont.ttf?t=1700057776846') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowuguanbi2:before {
  content: "\e62d";
}

.icon-jinggao2:before {
  content: "\e62f";
}

.icon-undo:before {
  content: "\e739";
}

.icon-heart:before {
  content: "\e8ae";
}

.icon-star:before {
  content: "\e8ba";
}

.icon-quote-left:before {
  content: "\e8c2";
}

